@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

:root {
  --dark-1: #1b1c1e;
  --dark-2: #1f1f1f;
  --dark-3: #2b2b2b;
  --dark-4: #303030;
  --dark-5: #3d3d3d;
  --main: #cce187;
  --main-low: #b5c975d4;

  /*  */

  --outline: #3c3c3e;
  --text-low: #838387;
  --text-high: #c3c3cf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: var(--dark-5);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Work Sans", monospace;
}

/* STYLES */

/* Supercontenedor */

.form-container {
  position: relative;

  width: 320px;

  padding: 32px;
  border-radius: 4px;

  background-color: var(--dark-1);
  color: var(--main);

  transition: all 0.4s ease;

  overflow: hidden;
}

.form-container.sign {
  height: 420px;
}

.form-container.log {
  /* height: 420px; */
  height: calc(268px + 36px);

  transition: height 0.4s ease 0.4s;
}

.form-container.log input[type="submit"] {
  transform: translateY(-122px);

  transition: transform 0.4s ease 0.4s;
}

.form-container.sign input[type="submit"] {
  transform: translateY(0px);

  transition: transform 0.4s ease;
}

.fieldset-container {
  display: flex;
  gap: 34px;

  width: fit-content;
  /* border: 1px solid red; */

  transition: transform 0.4s ease 0.4s;
}

.log .fieldset-container {
  display: flex;
  gap: 36px;

  width: fit-content;

  transform: translateX(-292px);

  transition: transform 0.4s ease;
}

/* Global */
legend {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

fieldset legend p {
  font-size: 14px;
  color: var(--text-high);
}

fieldset legend h1 {
  font-size: 28px;
}

input::placeholder {
  font-size: 12px;
  color: var(--text-low);
}

/*  Signup */

fieldset {
  width: calc(320px - 64px);

  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 18px 0 24px;
  border: none;
}

/* Cada input */

.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Contenedor con dos input */

.input-container.split {
  width: 100%;
  flex-direction: row;
  gap: 12px;
}

.input-container label {
  font-size: 12px;
  color: var(--text-high);
}

/* Input dentro de un container */

.input-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 40%;
}

/* DATE */

.input-box input[type="date"] {
  width: 100%;

  background-color: var(--dark-3);
  border: none;
  outline: 1px solid var(--outline);
  padding: 8px;
  color: var(--text-low);

  border-radius: 2px;

  font-family: inherit;
  font-size: 12px;

  height: 31px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Input en split de izquierda */
.input-box.left {
  width: 60%;
}

/* TEXT*/

input[type="text"],
input[type="password"] {
  padding: 8px;

  border: none;
  border-radius: 2px;
  outline: 1px solid var(--outline);

  color: #979797 !important;
  caret-color: var(--main);
  background-color: var(--dark-3);
}

input:focus,
input[type="date"]:focus,
select {
  outline: 1px solid var(--main);
  transition: outline 0.8s ease;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--dark-3) inset !important;
  -webkit-text-fill-color: ghostwhite;
  outline: 1px solid #5f5f61;
}

/* SELECT */

.select {
  display: flex;
  align-items: center;

  height: 31px;
  width: 100%;

  padding: 0 4px;

  outline: 1px solid #3d3d3d;
  border: none;
  border-radius: 2px;

  background-color: var(--dark-3);
}

select {
  width: 100%;
  font-size: 12px;

  background-color: var(--dark-3);
  border: none;
  outline: none;

  color: var(--text-low);
}

/* SUBMIT */

.form-container input[type="submit"] {
  display: block;

  width: 100%;
  height: auto;

  padding: 8px;
  border-radius: 2px;
  border: none;

  font-weight: bold;

  color: var(--dark-1);
  background-color: var(--main);

  cursor: pointer;

  transition: transform 0.2s ease;
}

input[type="submit"]:active {
  transform: scale(0.95) translateY(1px);
  transition: transform 0.2s ease;
}

input[type="submit"]:focus {
  outline: none;
}

.form-link {
  /* margin: 12px; */

  /* text-align: center; */
  font-size: 12px;

  color: var(--text-high);
}

.form-link a {
  /* text-decoration: none; */
  color: var(--main);
}
